@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

/* normal search */
.search-input {
    @apply bg-transparent text-white transition-all ease-in-out duration-300 border-b-0 border-transparent cursor-pointer hover:border-white hover:border-b focus:border-b-2 focus:border-white focus:w-48 focus:cursor-text;
    width: 6rem;
}
.search-input::placeholder {
    color: white !important;
    opacity: 1;
}
.search-input:focus::placeholder {
    color: black !important;
    opacity: 1;
}
/* end search */

/* octagon card */
.octagon-card {
    @apply w-80 h-96 relative;
    background: #212121;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.octagon-card:before {
    @apply absolute w-80 top-0 left-0 h-0;
    content: "";
    border-bottom: 3rem solid #212121;
    border-left: 3rem solid black;
    border-right: 3rem solid black;
}
.octagon-card:after {
    @apply w-80 absolute bottom-0 left-0 h-0;
    content: "";
    border-top: 3rem solid #212121;
    border-left: 3rem solid black;
    border-right: 3rem solid black;
    /*height: 0;*/
}
/* end octagon card */

.inner-card {
    @apply filter drop-shadow-lg;
    transform: translateZ(35px)
}

.data-table {
    @apply border-collapse;
    border: none;
}

.data-table td {
    @apply p-2 border border-white border-solid;
}

.data-table tr:first-child td {
    @apply border-t-0;
}

.data-table tr:last-child td {
    @apply border-b-0;
}

.data-table tr td:first-child {
    @apply border-l-0;
}

.data-table tr td:last-child {
    @apply border-r-0;
}