<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"/>-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

    <title>Weather</title>
</head>
<body class="bg-black text-white">
    <div class="flex flex-col justify-center w-full h-full">

        <div class="flex justify-center w-full mt-20 mb-6">
            <div class="flex items-end">
                <h1 class="text-5xl font-semibold">Weather</h1>

                {% if title %}
                    <h1 class="align-text-bottom text-4xl">/</h1>
                    <h1 class="align-text-bottom text-3xl tracking-widest">{{ title|upper }}</h1>
                {% endif %}

            </div>
        </div>

        <form id="search-form" class="input-wrapper flex justify-center mb-6" onsubmit="searchSubmit()">
            <input type="text" class="h-8 w-34 search-input text-center text-lg p-0.5 tracking-widest" id="search-input" placeholder="Search for a city ..." />
            <input type="submit" class="hidden" />
        </form>
        <script>
            function searchSubmit(){
                let action_src = "/" + document.getElementById("search-input").value;
                let form = document.getElementById('search-form');
                form.action = action_src ;
            }
        </script>

        {% if weather_data %}
            <div class="flex flex-col justify-center text-center mb-6">
                <img class="filter invert h-40" src="/static/svg/weather/{{ weather_data['icon'] }}.svg"/>
                <h1 class="mb-1 mt-6">
                    {{ weather_data['main']|lower }}
                </h1>
                <h1>
                    {{ weather_data['description'] }}
                </h1>
            </div>
        {% endif %}

        {% if temp_data %}
            <div class="flex justify-center text-5xl font-extralight space-x-4 mb-4">
                <h1>{{ '%0.1f'|format((temp_data['temp'] * 1.8 - 459.67)|float) }}°F</h1>
                <h1>|</h1>
                <h1>{{ '%0.1f'|format((temp_data['temp'] - 273.15)|float) }}°C</h1>
            </div>
            <div class="flex justify-center my-4">
                <ul class="divide-y text-center">
                    <li class="px-1 py-1">
                        pressure: {{ temp_data['pressure'] }} hPa
                    </li>
                    <li class="px-2 py-1">
                        humidity: {{ temp_data['humidity'] }}%
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if wind_data %}
            <div class="flex flex-col justify-center text-5xl my-4 font-extralight space-x-4">
                <div class="flex justify-center">
                    <img class="filter invert h-40 w-40 justify-self-center" src="/static/svg/compass.svg" style="-webkit-transform:rotate({{ wind_data['deg'] + 180 }}deg); -moz-transform: rotate({{ wind_data['deg'] + 180 }}deg); -ms-transform: rotate({{ wind_data['deg'] + 180 }}deg); -o-transform: rotate({{ wind_data['deg'] + 180 }}deg); transform: rotate({{ wind_data['deg'] + 180 }}deg);" />
                </div>
                <h1 class="text-2xl font-extralight text-center">wind direction: {{ wind_data['deg'] }}°</h1>
            </div>
        {% endif %}

        {% if updated_on %}
            <div class="flex justify-center font-light space-x-2 mt-8">
                <h1>last update:</h1>
                <h1 id="updated-on">{{ updated_on }}</h1>
                <script>
                    // client needs to calculate date because of timezones
                    let updated_on = document.getElementById("updated-on")
                    updated_on.innerHTML = new Date(updated_on.innerHTML * 1000).toLocaleString()
                </script>
            </div>
        {% endif %}

    </div>
</body>
</html>